<!DOCTYPE html>
<html>
    {% include header.html %}
    <body class="complete">
      <div class="container">
        <div class="page_header">     
          <h1 class="logo">
            <a href="/index.html" title="home">{{site.name}}<span>{{site.description}}</span></a>
          </h1>        
        </div>
        <div class="notice">
          <p class="inner info_bubble"></p>
        </div>
        <div class="inner wrap">
          {{content}}         
          <div class="content_footer"></div>            
        </div>
      </div>
      {% include footer.html %}
    </body>
</html>
